.mainTextField{
    -fx-background-color: transparent;
    -fx-text-fill: #fff;
    -fx-background-radius: 12;
    -fx-border-radius: 12;
}
.textField{
    -fx-background-color: #fff;
    -fx-text-fill: #000;
    -fx-background-radius: 10;
    -fx-border-radius: 10;
}